form{
    width: fit-content;
    margin-bottom: 50px;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
form input{
    padding: 4px 12px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: transparent;
}
form input:focus{
    background-color: transparent;
    color: white;
}
form button{
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    transition: .3s;
}
form button:hover{
    background-color: white;
    color: black;
}
form button:active{
    transition: 0s;
    background-color: white;
    color: black;
    opacity: .5;
}
form select{
    position: absolute;
    top: 50px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    transition: .3s;
}
form select:focus{
    background-color: white;
    color: black;
}

/* LABELS */
label.valid, label.not-valid-value{
    display: none;
    color: rgb(255, 239, 239);
    position: absolute;
    top: -10px;
    left: 10px;
}
label.not-valid-value{
    display: block;
}